}
html,
body {
    margin: 0;
    padding: 0;
}
img {
    max-width: 25%;
    margin: 10px 10px 10px 500px;
}
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #fff;
    background: green;
    background-image: url("images/bgimage.jpg");
    background-size: cover;
    font-size: 21px;
}
h1,
h2,
h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue' cursive;
    font-weight: 200;
}
h1 {
    color: red;
    font-size: 90px;
    line-height: .8;
}
h2 {
    color: white;
    margin: 10px 20px 30px 480px;
}